#score_window {
	font-size: 40px;
}

div.point_calculator {
	div.field_row {

	}
	div.field_row {
		button.point_input_btn {
			height: 100px !important;
			width: 100px !important;
			margin: 5px;
		}
	}
}