{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block title %} - {% trans 'Basic Scoring' %}{% endblock %}
{% block content %}
	<form method="post" action="{% url 'score:add_points' %}">
		{% csrf_token %}
		<input type="hidden" name="next" value="score:basic_scoring" />
		<div class="row">
			<div class="form-group col-xs-4 col-sm-2">
				<label for="points_input">{% trans 'Points' %}</label>
				<input type="number" id="points_input" class="form-control" name="points" placeholder="89" />
			</div>
			<div class="form-group col-xs-4 col-sm-2">
				<label for="darts_amount_input">{% trans 'Darts thrown' %}</label>
				<input type="number" id="darts_amount_input" class="form-control" name="darts_amount" placeholder="3" value="3" />
			</div>
		</div>
		<button type="submit" class="btn btn-default">{% trans 'Save points' %}</button>
	</form>
	<br/>
	<div id="score_window">0</div>
	<br/>
	<div class="point_calculator">
		<div class="points_field">
			<div class="field_row">
				<button class="point_input_btn point_number" data-value="1">1</button>
				<button class="point_input_btn point_number" data-value="2">2</button>
				<button class="point_input_btn point_number" data-value="3">3</button>
			</div>
			<div class="field_row">
				<button class="point_input_btn point_number" data-value="4">4</button>
				<button class="point_input_btn point_number" data-value="5">5</button>
				<button class="point_input_btn point_number" data-value="6">6</button>
			</div>
			<div class="field_row">
				<button class="point_input_btn point_number" data-value="7">7</button>
				<button class="point_input_btn point_number" data-value="8">8</button>
				<button class="point_input_btn point_number" data-value="9">9</button>
			</div>
			<div class="field_row">
				<button class="point_input_btn point_clear">C</button>
				<button class="point_input_btn point_number" data-value="0">0</button>
				<button class="point_input_btn point_ok">OK</button>
			</div>
		</div>
	</div>
	<br/><br/><br/>
	{% for score in scores %}
		{{ score.throw.points }} ({{ score.throw.darts_amount }})<br/>
	{% endfor %}
{% endblock %}